body {
    background-color: #003826;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    color: white;
    background-color: #005f41;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000;
}

header h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

main {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

footer {
    color: white;
    background-color: #005f41;
    width: 100%;
    height: 10vh; 
    font-size: 16px; 
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
}

.tcrimg {
    height: 75%;
    margin: 1%;
}

header h1 {
    margin: 0 auto; 
    text-align: center; 
}

h3 {
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000;
    font-size: 80%;
    float: right;
    margin-right: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

@font-face {
    font-family: 'Refridgerator_Deluxe';
    src: url("assets/fonts/Refrigerator_Deluxe.otf") format("opentype");
}

@font-face {
    font-family: 'Refridgerator_Deluxe_Heavy';
    src: url("assets/fonts/Refrigerator_Deluxe_Heavy.otf") format("opentype");
}

main.center-table {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: end;
    width: 97.5%;
}   

.teachertable {
    border-spacing: 25px;
    display: flex;
}

.locationbox {
    background-color: #005037;
    width: 22.5%;
}

.locationpadding {
    width: 100%;
    font-size: 300%;
    opacity: 0;
}

.locationbox img {
    width: 100%;
}
@media (max-width: 1023px) and (min-width: 768px) {
    .locationtext {
        font-size: 100%;
    }
}
  
@media (max-width: 767px) {
    .locationtext {
        font-size: 75%;
    }
}

.locationbox:hover {
    background-color: #B0BD36;
    transition: background-color 0.2s ease;
}

.locationtext {
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 150%;
    margin: 2.5%;   
    text-shadow: 2px 2px 4px black;
    white-space: nowrap;
}

.teacherbox {
    background-color: #005037;
}

.teachertext {
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px black;
}

a {
    text-decoration: none;
}

h2.text {
    color: white;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    text-align: center;
    margin-left: 1%;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
    max-width: 100%;
    list-style: none;
}

table.image-table {
    max-width: 50%; 
    float: right;
}

td.text {
    flex: 1; 
    padding-right: 20px; 
}
td.rooster1 {
    max-width: 200px;
    max-height: 200px;
}

td.rooster2 {
    max-width: 100px;
    max-height: 100px;
}

@media (min-width: 1024px) {
td.rooster {
    max-width: 50%;
    max-height: auto;
}
}

@media (max-width: 1023px) and (min-width: 768px) {
td.rooster {
    max-width: 300px;
    max-height: 100px;
}
}


@media (max-width: 1023px) and (min-width: 768px) {
td.rooster {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: row;
    max-width: 50%; 
    max-height: auto;
    margin-bottom: 20px;
}
}

@media (max-width: 767px){
td.rooster {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-direction: column;
    max-width: 150px; 
    max-height: auto;
    
}
}
nav {
    max-width: 50%;
}

.navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #004b33;
    border-style: solid;
    font-size: 35%;
    align-items: center;
}

.navblock {
    float: left;
}

.navblock a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navblock a:hover {
    background-color: #005037;
}

.submenu {
    display: none;
    position: absolute;
    background-color: #004b33;
    z-index: 1;
    list-style-type: none;
    padding: 0;
    margin: 0;
    top: 100%;
    left: 0;
}

#menu-button:hover + .submenu,
.submenu:hover {
    display: block;
}

.submenu li {
    display: block;
}

.submenu a {
    color: white;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
    width: 100%;
    text-align: left;
}

.submenu a:hover {
    background-color: #005037;
}

#menu-button {
    margin-right: 3%
}

/* Desktop Styles */
@media (min-width: 1024px) {
    /* CSS for desktop screens */
  }
  
  /* Tablet Styles */
  @media (max-width: 1023px) and (min-width: 768px) {
    /* CSS for tablet screens */
  }
  
  /* Mobile Styles */
  @media (max-width: 767px) {
    /* CSS for mobile screens */
  }