body {
    background-color: #003826;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
header {
    color: white;
    background-color: #005f41;
    height: 100px;
    font-size: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
    text-shadow: 2px 2px 4px #000;
    max-height:10vh;
}

main {
    min-height: 80vh;
}

header h1 {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 100%;
}

.titeltext {
    font-size:5vh;
}

.centerall {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

iframe {
    width: 15%;
    height: 5%;
    margin-top: 1%;
}
footer {
    color: white;
    background-color: #005f41;
    width: 100%;
    min-height: 10vh; 
    font-size: 16px; 
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
}

.tcrimg {
    height: 75%;
    margin: 1%;
}

header h1 {
    margin: 0 auto; 
    text-align: center; 
}


@font-face {
    font-family: 'Refridgerator_Deluxe';
    src: url("assets/fonts/Refrigerator_Deluxe.otf") format("opentype");
}

@font-face {
    font-family: 'Refridgerator_Deluxe_Heavy';
    src: url("assets/fonts/Refrigerator_Deluxe_Heavy.otf") format("opentype");
}

.center-table {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.locationcontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: end;
    width: 97.5%;
}  

.teachercontainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: end;
    width: 75%;
}

.teachertable {
    border-spacing: 25px;
    display: flex;
}

.locationbox {
    background-color: #005037;
    width: 22.5%;
}

.teacherbox {
    background-color: #005037;
    width: 15%;
}

.locationpadding {
    width: 100%;
    font-size: 300%;
    opacity: 0;
}

.teacherpadding {
    width: 100%;
    font-size: 300%;
    opacity: 0;
}

.locationbox img {
    width: 100%;
}

.teacherbox img {
    width: 100%;
}

@media (max-width: 1023px) and (min-width: 768px) {
    .locationtext {
        font-size: 100%;
    }

    .teachertext {
        font-size: 0%;
    }
}
  
@media (max-width: 767px) {
    .locationtext {
        font-size: 75%;
    }

    .teachertext {
        font-size: 75%;
    }
}

.locationbox:hover {
    background-color: #B0BD36;
    transition: background-color 0.2s ease;
}

.locationtext {
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 150%;
    margin: 2.5%;   
    text-shadow: 2px 2px 4px black;
    white-space: nowrap;
}

.teacherbox {
    background-color: #005037;
}

.teachertext {
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    text-align: center;
    color: white;
    font-size: 150%;
    margin: 2.5%;
    text-shadow: 2px 2px 4px black;
}

a {
    text-decoration: none;
}

.text {
    color: white;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    text-align: center;
    margin-left: 1%;
}

.textp {
    text-shadow: 2px 2px 4px #000;
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    text-align: center;
    font-size: 190%;
    text-decoration: none;
    border-style:solid;
    max-height: 30vh;
    color: #003826;
}

.textp:hover {
    background-color: #045c40;
}

.textnoncenter {
    color: white;
    text-shadow: 2px 2px 4px #000;
    font-family: 'Refridgerator_Deluxe', Arial, sans-serif;
    margin-left: 1%;
}

ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
    max-width: 100%;
    list-style: none;
}

.image-table {
    max-width: 50%; 
    float: right;
}

td.text {
    flex: 1; 
    padding-right: 20px; 
}

nav {
    max-width: 50%;
}

.navbar {
    list-style-type: none;
    overflow: hidden;
    margin-right: 5%;
    background-color: #004b33;
    border-style: solid;
    font-size: 35%;
    align-items: center;
}

.menubutton {
    float: left;
    background-color: #004b33;
    color: white;
    padding: 5% 0%;
    font-size: 3vh;
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
    text-decoration: none;
    text-decoration-color: white;
    text-shadow: 2px 2px 4px #000;
    border: white;
    border-style:solid;
    margin-right: 7.5%;
    max-height: 10vh;
}

.menubutton:hover {
    background-color: #045c40;
}

.pageitem {
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
    color: #003826;
    text-shadow: 2px 2px 4px #000;
    font-size: 160%;
    margin: 0.4vh;
    text-decoration: none;
    border-style:solid;
    max-height: 30vh;
}

.pageitem:hover {
    background-color: #045c40;
}


a {
    color: white;
}

form {
    font-size: 100%;
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000;
    max-height: 40%;
}

h4 {
    margin-left: 1%;
    font-size: 100%;
    font-family: 'Refridgerator_Deluxe_Heavy', Arial, sans-serif;
    color: white;
    text-shadow: 2px 2px 4px #000;
    display: flex;
    align-items: center;
}

.overonsjpg {
    width: 10vw;
    height: 30vh;
}

.overonsjpg2{
    width: 10vw;
    height: 15vh;
    align-items: center;
}

.overonstable {
    display: flex;
    justify-content:space-evenly;
}